body {
  margin: 0;
  font-family: Arial;
  background: #f3f4f6;
}

/* FULL WIDTH */
.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  background: white;
}

/* HEADER */
.question-label {
  background: teal;
  color: white;
  display: inline-block;
  padding: 3px 6px;
  font-weight: bold;
}

/* TEXT */
.scenario-text {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.4;
}

.main-question {
  font-weight: bold;
  margin-top: 15px;
}

/* IMAGE */
.question-image {
  width: 80%;
  display: block;
  margin: 20px auto;
}

/* INPUT */
.student-input input {
  width: 250px;
  padding: 6px;
  margin-top: 5px;
}

/* TEXTBOX */
.answer-box,
.answer-box-v2 {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #4a90ff;
  box-sizing: border-box;
}

/* FEEDBACK */
.feedback-box {
  margin-top: 15px;
  padding: 15px;
  background: #eeeeee;
  border: 1px solid #aaa;
}

.feedback-label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

/* BUTTON */
.submit-btn {
  margin-top: 15px;
  padding: 12px 25px;
  background: blue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}